.title-large{
    font-size: 40px;
}

.title-medium{
    font-size: 30px;
}

.title-small{
    font-size: 20px;
}

.big-size{
    width:80%;
}
.mid-size{
    width: 60%;
}

.center{
    margin:auto;
}

.small-size{
    width: 20%;
}

.tiny-size{
    width: 10%;
}

.pointer{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.mycontent-left {
    border-right: 1px solid #333;
  }

.middle{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.small-padding{
  padding: 20px;
}