<div *ngIf="selectedProtege == undefined" class="center mid-size">
  <div class="form-group row">
    <span *ngFor="let protege of proteges" 
      (click)="selectProtege(protege)" 
      class="list-group-item list-group-item-action pointer">
      {{protege.Name}} {{protege.Surname}}
    </span>    
  </div>
</div>

<div *ngIf="selectedProtege != undefined && selectedChallengeType == undefined" class="center mid-size">
  <span class="center big-size">{{selectedProtege.Name}} {{selectedProtege.Surname}}</span>
  <div class="form-group row">
    <span *ngFor="let challengeType of protegeChallengeTypes" 
      (click)="selectChallengeType(challengeType)" 
      class="list-group-item list-group-item-action pointer">
      {{challengeType.Name}}
    </span>    
  </div>
</div>
<div *ngIf="selectedChallengeType != undefined" class="center big-size">
    <div class="title-medium text-center">
        <div class="row">
          <div class="col-sm">
            Wymaganie
          </div>
          <div class="col-sm">
            Zadanie
          </div>
          <div class="col-sm">
            Komentarz
          </div>
        </div>
    </div>  
  <div class="form-group row">
      <div *ngFor="let task of protegeChallenges" 
        class="list-group-item list-group-item-action pointer">
        <div class="container" [style.comment]="task.Comment != undefined && task.Comment != ''">
            <div class="row">
              <div class="col-sm mycontent-left middle">
                    {{task.Task.Content}}
              </div>
              <div class="col-sm mycontent-left middle">
                {{task.Mission}}
              </div>
              <div class="col-sm middle">
                  <textarea class="form-control" [(ngModel)]="task.Comment"></textarea>
              </div>
            </div>
        </div>
      </div>
    </div>    
    <button type="button" class="btn btn-primary" (click)="saveChallenge()">Zapisz</button>
</div>
  
